body{
    margin: 0;
}

.container{
    margin: 0 auto;
    max-width: 700px;
    padding: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
img{
    height: 100%;
    display: block;
    z-index: -1;
    
}

.row div{
    transition-property: right, left, filter;
    transition-duration: 1s, 1s, 1s;

    filter:grayscale(100%);
}

.row div:hover{
    width: 120px
    
}




