body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(134, 134, 255);
}
.container{
    margin: 0 auto;
    max-width: 1500px;
    height: 100vh;
    margin-top: 100px;
    row-gap:40px
}
label{
    color: white;
}
a{
    color: white;
}

.row-1{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center;
    gap:10px
    
}



.col-1{
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.col-2{
    background-color: rgb(53, 53, 180);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bb{
    padding: 40px;
    width: 370px;
    line-height: 3.8rem;
}

.cc{
    padding: 40px;
    width: 400px ;
    height: 70vh;
    line-height: 3.8rem;
}

.col{
    width: calc(100%/2);
}

.cc input{
    width: 100%;
    background-color:rgb(53, 53, 180);
    border: 1px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: white;
}

select{
    width: 100%;
}
#vehicle1{
    width: 20px;
}

.cc select{
    background-color: rgb(53, 53, 180);
    width: 100%;
    border: 1px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}



.bb input{
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.cc input::placeholder{
    color:aliceblue
}

option{
    color: white;
}

.bb select{
    border: 1px solid rgb(204, 204, 204);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.cc input{
    width: 100%;
    border: 1px solid ;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.bb h2{
    color: rgb(53, 53, 180);
    font-size: 2rem;
}
.cc h2{
    color: white;
    font-size: 2rem;
}


button{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.cc select{
    color: white;
}

.date{
    color: rgb(119, 118, 118);

}

.bb select option{
    color: black;
}
