body{
    height: 100vh;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container{
    width: 35%;
    height: 40px;
    background-color:#ccc;
    border-radius: 30px;
    position: relative;
    
}

form{
    display: flex;
}
.input{
    width:0%;
    height: 45px;
    display: block;
    border-radius: 25px;
    padding-left: 42px;
    transition: all 2s;
    
}


.button{
    background-image: url(../Search-input/icons8-search-30.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 2s;
}

.search-container:focus-within input{
    padding-left: 55px;
    border: 1px solid;
    width: 80%;
    
}

